/*Hier worden er speciale tekens uit de font-awesome gehaald die worden gebruikt*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

i {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0px, 0px);
    color: #000;
}
.edit:before {content: "\f040";}
.remove:before {content: "\f1f8";}

td {vertical-align: middle; }
table#report {table-layout: fixed; height: 400px;}
th { text-decoration: underline; }
th, td {
    padding: 5px;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) { width: 300px; }
td:nth-child(2), th:nth-child(2) { width: 150px; }
td:nth-child(3), th:nth-child(3) { width: 100px; }
td:nth-child(4), th:nth-child(4) { width: 300px; }
td:nth-child(5), th:nth-child(5) { width: 150px; }

thead tr {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 350px;
}

.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{
    vertical-align:middle;
}

img.logo
{
    margin-bottom: 10px;
}

img.SM-logo-Y
{
    position: absolute;
    max-width: 75px;
    max-height: 75px;
    right: 95px;
    top: 20px;
}

img.SM-logo-F
{
    position: absolute;
    max-width: 75px;
    max-height: 75px;
    right: 20px;
    top: 20px;
}

img.SM-logo-T
{
    position: absolute;
    max-width: 75px;
    max-height: 75px;
    right: 95px;
    top: 95px;
}

img.SM-logo-I
{
    position: absolute;
    max-width: 75px;
    max-height: 75px;
    right: 20px;
    top: 95px;
}


div.block{
    display: block;
    float: left;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 7px;
    width: 250px;
    height: 300px;
}

div.block h2{
    margin: auto;
}

div.block li{
    display: block;
    margin-left: -40px;
    background-color: #d7d7d7;
    padding: 10px 10px;
    margin-bottom: 5px;
    color: black;
}
div.block a{
    text-decoration: none;
}

div.block li:hover{
    background-color: #b4b4b4;
}
div.footer{
    background-color: black;
    padding: 8px;
    color: white;
    width: 100%;
    height: 4em;
    margin-top: 15px;
}

div.block li:hover{
    background-color: #b4b4b4;
}

div.list_block
{
    height: 210px;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.list_text
{
    width: 50%;
    float: left;
}

img.list_img
{
    max-width: 200px;
    max-height: 200px;
    float: right;
}

a.ReadMore
{
    text-decoration: underline;
    color: #0e00b4;
}

a.ReadMore:hover
{
    text-decoration: none;
    color: #8800b4;
}

.error
 {
     color: #a94442;
 }

.error_list
 {
     margin-left: 15px;
 }

.date-input
{
    width: 180px;
}

.time-input
{
    width: 120px;
}

.price-input
{
    width: 180px;
}

.FormImgShow
{
    margin: 10px;
    max-width: 200px;
    max-height: 200px;

}


