td {vertical-align: middle; }
table#report {table-layout: fixed; height: 400px;}
th { text-decoration: underline; }
th, td {
    padding: 5px;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) { width: 300px; }
td:nth-child(2), th:nth-child(2) { width: 150px; }
td:nth-child(3), th:nth-child(3) { width: 50px; }
td:nth-child(4), th:nth-child(4) { width: 300px; }
td:nth-child(5), th:nth-child(5) { width: 150px; }

thead tr {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 350px;
}

.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{
    vertical-align:middle;
}

div.block{
    display: block;
    float: left;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 7.5px;
    width: 250px;
    height: 300px;
}

div.block h2{
    margin: auto;
}

div.block li{
    display: block;
    margin-left: -40px;
    background-color: #d7d7d7;
    padding: 10px 10px;
    margin-bottom: 5px;
    color: black;
}
div.block a{
    text-decoration: none;
}

div.block li:hover{
    background-color: #b4b4b4;
}
